body {
	background: #0B0C10;
	margin: 0rem;
	min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  padding-top: 4.5rem;

}
#canvas, #text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
#text {
  min-height: 65vh;
  width: 100vw;
  z-index: 1;
  color: #fff;
  font-size: 6vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0%;
}
#text h1 {
	opacity: 0.9
}

#text span{
  color:#00fff2
}

#button{
  position: absolute;
	display: block;
	top: 0;
  left: 0;
  min-height: 92vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0%;
}

.button {
  border-radius: 4px;
  border: solid;
  background: transparent;
  color: #FFFFFF;
  text-align: center;
  font-size: 3vmin;
  padding: 1vmin;
  width: 20vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5em;
  z-index: 1;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -0.8em;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 0.7em;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover{
  background-color:#45A29e;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 0.5px;
}

.btn-responsive {
  white-space: normal !important;
}

.navbar{
 background-color: #1F2833;
 border-bottom: 0.5px outset #C5C6C7;
}

.custom-toggler.navbar-toggler {
  border-color: rgba(102, 252, 241);
} 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102, 252, 241)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand{
  color: #66fcf1;
}
.navbar-brand:hover{
  color: #66fcf1;
}

.nav-link{
  color: #66fcf1;
}

.nav-link:hover{
  border-bottom: 0.5px solid;
  border-color: #C5C6C7;
  color:#66fcf1;
}